.background-image{
    position: relative;
    background: #fff url("kirjahylly.jpg") center center;    
    width: 100%;
    height: 100%;
    background-size: cover;    
}

.nav-link{
    color:#212529;
    padding: 0em;
    
}

.form-control{
    border: 1px solid #a6abaf;
}

.btn-primary{
    background: dimgray;
    border-color: #5f6163;
}

.bi-basket2{
    font-size: 2em;
    
}

.carousel-inner > .carousel-item > img {
    max-width:100%;
    height:270px !important;
}

.container{
    background-color: rgba(253, 255, 253, 1);
    padding: 0em;
}

.row1{
    margin:none;
    padding: 0.3em 3em;
}

.box1{
    background-color: rgba(192, 216, 192, 1);
    padding: 0em  
}

@media screen and (max-width: 768px) {
    .karuselli {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
    .img-responsive{
        height: 60px;
        width: 140px;
    }
    .img-fluid {
        padding: 1em;
    }
    
  }

.box2{
    background-color: rgba(245, 238, 220, 1); 
   
}

.row{
    padding: 1em 3em 1em 3em;
}

h1{
    text-transform:uppercase;
    padding-bottom: 0.5em;
}

h2{
    font-size: 2em;
    text-transform:uppercase;
}

h3{
    font-size: 1em;
}

.footer{
    background-color: rgba(192, 216, 192, 1);
    text-align: center;
    padding: 1em;
}


button {
    color: #212529;
    padding: 3%;
    font-size: 1em;
    font-weight: 700;
    background: #F5EEDC;
    border-radius: 0.625em;
    border-color: #F5EEDC;
}

hr {
    border-top: 5px solid black;
}

a { text-decoration: none; 
    color:black;
}